@model Person

@if(Model != null)
{
    <div class="row bg-light text-bg-light p-1">
        <div class="col">
            <h5>@Model.Name</h5>
        </div>
        <div class="col">
            <p>@Model.PhoneNumber</p>
        </div>
        <div class="col">
            @if(Model.City != null)
            {
                <p>@Model.City.CityName</p>
            }
        </div>
        <div class="col">
            @if (Model.City != null && Model.City.Country != null)
            {
                <p>@Model.City.Country.CountryName</p>
            }
        </div>
        <div class="col">
            <ul>

            @foreach(var language in Model.Languages)
            {
                <li>@language.LanguageName</li>
            }
            </ul>
        </div>
        <div class="col">
            <a type="submit" class="list-button btn btn-primary btn-sm" asp-controller="People" asp-action="UpdatePerson" asp-route-id=@Model.Id>Edit person</a>
            <a type="submit" class="list-button btn btn-danger btn-sm" asp-controller="People" asp-action="DeletePerson" asp-route-id=@Model.Id>Delete person</a>
        </div>
     </div>  
}

else
{
    @ViewBag.SearchResult
}





